{{>header}}
{{>navbar}}
    <center><h1>Salvador Dalí</h1></center>
    <p>Salvador Felipe Jacinto Dalí i Domènech,​ marqués de Dalí de Púbol (Figueras, 11 de mayo de 1904-ibídem, 23 de enero de 1989), fue un pintor, escultor, grabador, escenógrafo y escritor español del siglo XX. Se le considera uno de los máximos representantes del surrealismo.
        Salvador Dalí es conocido por sus impactantes y oníricas imágenes surrealistas. Sus habilidades pictóricas se suelen atribuir a la influencia y admiración por el arte renacentista. También fue un experto dibujante.​ Los recursos plásticos dalinianos también abordaron el cine, la escultura y la fotografía, lo cual le condujo a numerosas colaboraciones con otros artistas audiovisuales. Tuvo la capacidad de acrisolar un estilo genuinamente personal y palpable al primer contacto, que en realidad era muy ecléctico y que «succionó» de innovaciones ajenas. Una de sus pinturas más célebres es La persistencia de la memoria (también conocida como Los relojes blandos), realizada en 1931.
        Como artista extremadamente imaginativo, manifestó una notable tendencia al narcisismo y la megalomanía, cuyo objeto era atraer la atención pública. Esta conducta irritaba a quienes apreciaban su arte y justificaba a sus críticos, que rechazaban sus conductas excéntricas como un reclamo publicitario ocasionalmente más llamativo que su producción artística.​ Dalí atribuía su «amor por todo lo que es dorado y resulta excesivo, su pasión por el lujo y su amor por la moda oriental» a un autoproclamado «linaje arábigo», que remontaba sus raíces a los tiempos de la dominación árabe de la península ibérica.
    </p><br>

    <center><h3>La tentación de San Antonio (1946)</h3></center>
    <center><img src="sanantonio.jpg" alt=""></center>

    <center><h3>La persistencia de la Memoria (1931)</h3></center>
    <center><img src="memoria.jpg" alt=""></center>
    
    <center><h3>Cristo de San Juan de la Cruz (1951)</h3></center>
    <center><img src="cristo.jpg" alt=""></center>

    <center><h3>Sueño causado por el vuelo de una abeja alrededor de una granada un segundo antes de despertar (1944)</h3></center>
    <center><img src="sueño.jpg" alt=""></center>

    <center><h3>El hombre invisible (1929-1933)</h3></center>
    <center><img src="invicible.jpg" alt=""></center>
{{>footer}}