{{>header}}
{{>navbar}}
    <center><h1>Rembrandt</h1></center>
    <p>Rembrandt Harmenszoon van Rijn (Acerca de este sonido [ˈrɛmbrɑnt ˈɦɑrmə(n)soːn vɑn ˈrɛin] (?·i) Leiden, 15 de julio de 1606-Ámsterdam, 4 de octubre de 1669), más conocido simplemente como Rembrandt, fue un pintor y grabador neerlandés. La historia del arte lo considera uno de los mayores maestros barrocos de la pintura y el grabado, siendo con seguridad el artista más importante de la historia de los Países Bajos.​ Su aportación a la pintura coincide con lo que los historiadores han dado en llamar la edad de oro neerlandesa, el considerado momento cumbre de su cultura, ciencia, comercio, poderío e influencia política.
        Habiendo alcanzado el éxito en la juventud, sus últimos años estuvieron marcados por la tragedia personal y la ruina económica. Sus dibujos y pinturas siempre fueron muy populares, gozando también de gran predicamento entre los artistas y durante veinte años se convirtió en el maestro de prácticamente todos los pintores neerlandeses.​ Entre los mayores logros creativos de Rembrandt están los magistrales retratos que realizó para sus contemporáneos, sus autorretratos y sus ilustraciones de escenas bíblicas. En sus autorretratos, especialmente, se observa siempre la mirada humilde y sincera de un artista que trazó en ellos su propia biografía.
    </p>

    <center><h3>La ronda de noche</h3></center>
    <center><img src="noche.jpg" alt=""></center>

    <center><h3>El retorno del hijo pródigo</h3></center>
    <center><img src="prodigo.jpg" alt=""></center>

    <center><h3>La novia judía</h3></center>
    <center><img src="novia.jpg" alt=""></center>

    <center><h3>Dánae</h3></center>
    <center><img src="danae.jpg" alt=""></center>

    <center><h3>Self-portraits by Rembrandt</h3></center>
    <center><img src="rembrant.jpg" alt=""></center>
{{>footer}}