{{>header}}
{{>navbar}}
    <center><h1>Vincent van Gogh</h1></center>
    <p>Vincent Willem van Gogh (pronunciado Acerca de este sonido [ˈvɪnsɛnt fɑŋ'ɣɔx] (?·i); Zundert, 30 de marzo de 1853-Auvers-sur-Oise, 29 de julio de 1890) fue un pintor neerlandés, uno de los principales exponentes del postimpresionismo.
        Pintó unos 900 cuadros (entre ellos 43 autorretratos y 148 acuarelas) y realizó más de 1600 dibujos. Una figura central en su vida fue su hermano menor Theo, marchante de arte en París, quien le prestó apoyo financiero de manera continua y desinteresada. La gran amistad entre ellos está documentada en las numerosas cartas que se intercambiaron desde agosto de 1872. De las 800 cartas que se conservan del pintor, unas 650 fueron para Theo; las otras son correspondencia con amigos y familiares.
    </p>

    <center><h3>Laboureur Dans Un Champ</h3></center>
    <center><img src="champ.jpg" alt=""></center>

    <center><h3> Portrait du Docteur Gachet</h3></center>
    <center><img src="gachet.jpg" alt=""></center>

    <center><h3>Les Alyscamps</h3></center>
    <center><img src="les.jpg" alt=""></center>

    <center><h3>Portrait de l'artiste sans barbe</h3></center>
    <center><img src="sans.jpg" alt=""></center>

    <center><h3>Nature Morte, Jarrón Aux Marguerites Et Coquelicots</h3></center>
    <center><img src="nature" alt=""></center>
{{>footer}}